
div.dokuwiki span.plugin_do_done span {
    text-decoration: line-through;
}
div.dokuwiki td span.plugin_do_done span {
    text-decoration: none;
}


div.dokuwiki div.page a.plugin_do_adone {
    text-decoration: line-through;
}
div.dokuwiki div.page td a.plugin_do_adone {
    text-decoration: none;
}

#do__popup {
    position:absolute;
    background-color: __background__;
    border:1px solid __border__;
    width:400px;
}
#do__popup .title {
    background-color: __background_alt__;
    text-align:center;
}
#do__popup .title img {
    float:right;
    cursor:pointer;
}
#do__popup fieldset {
    border:0;
    padding-bottom:0.3em;
}
#do__popup fieldset p {
    margin-bottom:0;
    clear:left;
}
#do__popup fieldset p label {
    display:block;
    width:46%;
    float:left;
    line-height:25px;
    text-align: right;
    margin-right: 0.1em;
}
#do__popup fieldset p input {
    display:block;
    width:46%;
    float:left;
}

#do__popup fieldset {
    width: auto;
}
#do__popup p.plugin_do_insert {
    text-align:center;
}

div.plugin__do_pagetasks span {
    background: transparent url(pix/toolbar.png) no-repeat top right;
    padding-right:17px;
}

.plugin__do_pagetasks span.do_done   { background-image: url(pix/tasklist_green.png); }
.plugin__do_pagetasks span.do_undone { background-image: url(pix/tasklist_yellow.png); }
.plugin__do_pagetasks span.do_late   { background-image: url(pix/tasklist_red.png); }
