div.dokuwiki span.plugin_do_done,
div.dokuwiki span.plugin_do_undone {
    background-color: __background_alt__;
    -moz-border-radius: 4px;
    -opera-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0 2px;
}

div.dokuwiki span.plugin_do_done a img,
div.dokuwiki span.plugin_do_undone a img {
    margin-bottom: -3px;
}

div.dokuwiki span.plugin_do_done span {
    text-decoration: line-through;
}

div.dokuwiki div.page a.plugin_do_adone {
    text-decoration: line-through;
}
div.dokuwiki div.page td a.plugin_do_adone {
    text-decoration: none;
}

div.dokuwiki div.page span span.plugin_do_commit {
    text-decoration: none;
    display: none;
}
div.dokuwiki div.page span.plugin_do_done span.plugin_do_commit {
    display: inline;
}

div.dokuwiki table.plugin_do span.plugin_do_done,
div.dokuwiki table.plugin_do span.plugin_do_undone {
    background-color: transparent;
}

#do__popup,
#do__commit_popup {
    position:absolute;
    background-color: __background__;
    border:1px solid __border__;
    width:400px;
}
#do__popup .title,
#do__commit_popup .title {
    background-color: __background_alt__;
    text-align:center;
}
#do__popup .title img,
#do__commit_popup .title img {
    float:right;
    cursor:pointer;
}
#do__popup fieldset,
#do__commit_popup fieldset {
    border:0;
    padding-bottom:0.3em;
}
#do__popup fieldset p,
#do__commit_popup fieldset p {
    margin-bottom:0;
    clear:left;
}
#do__popup fieldset p label,
#do__commit_popup fieldset p label {
    display:block;
    width:46%;
    float:left;
    line-height:25px;
    text-align: right;
    margin-right: 0.1em;
}
#do__popup fieldset p input,
#do__commit_popup fieldset p input {
    display:block;
    width:46%;
    float:left;
}

#do__popup fieldset,
#do__commit_popup fieldset {
    width: auto;
}
#do__popup p.plugin_do_insert,
#do__commit_popup p.plugin_do_insert {
    text-align:center;
}

div.plugin__do_pagetasks span {
    background: transparent url(pix/toolbar.png) no-repeat top right;
    padding-right:17px;
}

.plugin__do_pagetasks span.do_done   { background-image: url(pix/tasklist_green.png); }
.plugin__do_pagetasks span.do_undone { background-image: url(pix/tasklist_yellow.png); }
.plugin__do_pagetasks span.do_late   { background-image: url(pix/tasklist_red.png); }
