div.dokuwiki span.plugin_do1 {
    padding-right: 18px;
    background: transparent url(pix/do1.png) no-repeat top right;
}

div.dokuwiki span.plugin_do2 {
    padding-right: 18px;
    background: transparent url(pix/do2.png) no-repeat top right;
}
div.dokuwiki span.plugin_do3 {
    padding-right: 18px;
    background: transparent url(pix/do3.png) no-repeat top right;
}
div.dokuwiki span.plugin_do4 {
    padding-right: 18px;
    background: transparent url(pix/do4.png) no-repeat top right;
}

div.dokuwiki .plugin_do_done {
    text-decoration: line-through !important;
}

#do__popup {
    position:absolute;
    background-color: __background__;
    border:1px solid __border__;
}
#do__popup .title {
    background-color: __background_alt__;
    text-align:center;
}
#do__popup .title img {
    float:right;
    cursor:pointer;
}
#do__popup fieldset {
    border:0;
    padding-bottom:0.3em;
}
#do__popup fieldset p {
    margin-bottom:0;
}
#do__popup fieldset p label {
    display:block;
    width:46%;
    float:left;
    line-height:25px;
    text-align: right;
    margin-right: 0.1em;
}
#do__popup fieldset p input {
    display:block;
    width:46%;
    float:left;
}

#do__popup fieldset {
    width: auto;
}
